@charset "UTF-8";

body {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input:focus,
button:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.section-title::after {
  margin-top: 12px;
  content: '';
  display: block;
  height: 6px;
  background: url("../img/line.png") center no-repeat;
}

.button {
  font-size: 14px;
  background-color: #ff9d00;
  border: 1px solid transparent;
  color: #fff;
  padding: 13px 20px;
  border-radius: 5px;
}

.button-o {
  background-color: transparent;
  color: #373737;
  border: 1px solid rgba(55, 55, 55, 0.5);
}

.button-o:hover {
  color: #fff;
  border: 1px solid transparent;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button .fa-phone-volume {
  font-size: 20px;
  vertical-align: middle;
}

.button_big {
  padding-top: 18px;
  padding-bottom: 18px;
  vertical-align: middle;
}

.dark-bg {
  position: relative;
  z-index: 1;
  /* Затемнение фонового изображения на главном экране */
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header {
  margin-bottom: 15px;
}

.header-logo {
  background: url("../img/header-logo.png") center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px;
}

.header-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

.header-contacts__button .fa-phone-volume {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 14px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #373737;
  padding-right: 10%;
  padding-left: 10%;
}

.header-menu a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-menu a:hover {
  color: #ff9d00;
}

.header-menu li {
  border-right: 1px dotted #fff;
  padding-right: 1.5rem;
}

.header-menu li:last-child {
  border: none;
}

@-webkit-keyframes move {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes move {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.main {
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("../img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  /* Оформление главной картинки */
}

.main-img {
  -webkit-animation: move 1s 0.4s;
  animation: move 1s 0.4s;
  position: relative;
}

.main-img::before {
  content: '';
  display: block;
  position: absolute;
  width: 390px;
  height: 390px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: -1;
  left: 50%;
  margin-left: -195px;
}

.main-text__title {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-text__subtitle {
  margin-bottom: 27px;
  font-size: 28px;
  font-weight: 300;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  margin-bottom: 12px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-title {
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.form-title__important {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.form-input {
  font-size: 14px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  padding: 20px;
  vertical-align: middle;
  width: 100%;
  max-width: 365px;
}

.form-small {
  font-size: 14px;
  font-weight: 300;
}

.features {
  background-color: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 55px;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-block {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 28px 19px;
  margin-bottom: 30px;
}

.features-block__img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-right: 11px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.features-block__descr {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

.numbers {
  text-align: center;
  margin-bottom: 37px;
}

.numbers-block {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.numbers-block__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 900;
  color: #ff9d00;
}

.numbers-block__title sup {
  font-size: 18px;
}

.numbers-block__text {
  font-size: 16px;
  font-weight: 300;
}

.products {
  padding-top: 57px;
  padding-bottom: 73px;
}

.products-block {
  text-align: center;
  margin-bottom: 35px;
}

.products-block__img {
  margin-bottom: 19px;
}

.products-block__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 28px;
}

.products-block__button {
  margin-right: 12px;
}

.clients {
  padding-bottom: 116px;
}

.clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 212px;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
  border-radius: 5px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.clients-block:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.offer {
  padding-top: 64px;
  padding-bottom: 69px;
  color: #fff;
  background: grey url("../img/offer/offer-bg.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
}

.offer-title {
  font-size: 32px;
  font-weight: 400;
}

.offer-title_small {
  font-size: 26px;
  display: block;
  margin-top: 15px;
}

.offer-form__label {
  font-size: 20px;
  font-weight: 300;
  display: block;
  margin-bottom: 17px;
}

.offer-form__input {
  display: block;
  margin: auto;
  margin-bottom: 12px;
}

.offer-form__button {
  margin-bottom: 9px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  font-size: 35px;
  color: #fff;
  right: -20px;
  top: -30px;
  font-weight: 300;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  line-height: 71px;
}

.overlay .popup-form {
  background: url("../img/modal/modal-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px;
  color: #fff;
  text-align: center;
}

.overlay .popup-form__title {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
}

.overlay .popup-form__title span {
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  font-size: 20px;
  font-weight: 300;
  margin-top: 23px;
}

.overlay .popup-form__input {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  padding-left: 18px;
  width: 365px;
  height: 56px;
  margin-top: 17px;
}

.overlay .popup-form__input::-webkit-input-placeholder {
  color: #373737;
}

.overlay .popup-form__input:-ms-input-placeholder {
  color: #373737;
}

.overlay .popup-form__input::-ms-input-placeholder {
  color: #373737;
}

.overlay .popup-form__input::placeholder {
  color: #373737;
}

.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 16px;
}

.overlay .popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 576px) {
  .hiden-mobile {
    display: none;
  }

  .header-logo {
    background: #ff9d00 url("../img/header-logo_mobile.png") center no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 4px;
  }

  .header-contacts__phone {
    font-size: 14px;
    margin-right: 0;
  }

  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-contacts__phone:first-child {
    border: none;
  }

  .header-contacts__button {
    padding: 7px;
    padding-left: 10px;
  }

  .main {
    text-align: center;
    padding-top: 50px;
  }

  .main-text__title {
    color: #ff9d00;
    font-size: 22px;
  }

  .main-text__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .main-text__form {
    background-color: transparent;
    padding: 0;
  }

  .form {
    display: block;
  }

  .form-title {
    padding-right: 0;
    font-size: 15px;
    line-height: 1.4;
  }

  .form-title__important {
    margin-top: 15px;
  }

  .form-input {
    display: block;
    margin-bottom: 13px;
  }

  .numbers-block {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  .features-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button {
    padding: 10px 15px;
  }

  .clients-block {
    width: 143px;
    height: 87px;
    -webkit-transform: scale(0.67);
    transform: scale(0.67);
  }
}

.contacts {
  position: relative;
}

.contacts-block {
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: #fff;
  padding: 33px 34px 39px 62px;
  border-radius: 10px;
}

.contacts-block__text {
  margin-bottom: 20px;
}

.contacts-block__text .fas {
  position: absolute;
  left: 38px;
  font-size: 20px;
}

.contacts-block__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 8px;
}

.map {
  width: 100%;
  height: 550px;
}

.footer {
  background-color: #1b1b1b;
  padding-top: 36px;
  padding-bottom: 39px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}

.footer div {
  opacity: 0.5;
}

.footer .author a {
  opacity: 1.0;
  text-decoration: none;
  color: red;
  font-weight: 900;
}