@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


* {
	margin: 0;
	padding: 0;
}

/*---------прижатие футера к низу экрана--------*/
html, body {
	height: 100%;
}

.container {
	min-height: 100%;
}

footer {
	height: 100px;
	margin-top: -100px;
	clear: both;
}

.clr {
	height: 100px;
}
/*------------------------------------------*/

/*псевдораспорка*/
.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

::selection {
	background-color: #f39c12;
	color: #fff;
}

body {
	font-family: Montserrat;
}

header {
	background-image: url(img/oduvanchiki.jpg);
	box-shadow: 0 0 10px #555;
	max-width: 100%;
	padding-top: 84px;
}

header .logo {
	display: block;
	box-shadow: 0 0 10px #555;
	text-decoration: none;
	width: 150px;
	height: 150px;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-left: 200px;
	transition: all 1s;
}

header .logo span {
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	left: 21px;
	top: 63px;
	line-height: 25px;
	color: #fff;
	text-shadow: 0 0 10px #555;
}

header .logo:hover {
	border-color: cadetblue;
	transition: all 1s ease;
	transform: rotate(360deg);
}

/*-------------menu---------------*/
nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
}

nav .menu .clear:after {
	content: " ";
	display: block;
	clear: both;
}

nav .menu {
	margin-left: 500px;
	margin-top: -150px;
}

nav .menu ul {
	list-style-type: none;
	display: inline-block;
	
}

nav .menu ul li {
	float: left;
	width: 124px;
	height: 140px;
	border-left: 1px solid;
	border-color: #e3e3e3;
	background-color: #fff;
	transition: background-color 0.2s linear 0s;
}

nav .menu ul li:last-child {
	border-right: 1px solid #e3e3e3;
}

nav .menu ul li a {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

nav .menu a i {
	display: table-cell;
	vertical-align: middle;
	color: #a3a7ad;
	font-size: 23px;
	transition: all 0.2s linear 0s;
}

nav .menu a i:before {
	border: 2px solid;
	border-color: #a3a7ad;
	border-radius: 500px;
	width: 41px;
	display: inline-block;
	height: 41px;
	line-height: 37px;
	transition: color 0.2s linear 0s, font-size 0.2s linear 0s, border-color 0.2s linear 0.2s, height 0.2s linear 0s, width 0.2s linear 0s, line-height 0.2s linear 0s;
}

nav .menu a .link-text {
	position: absolute;
	bottom: 13px;
	right: 19px;
	color: #565a60;
	font-size: 14px;
	text-transform: uppercase;
	transition: all 0.2s linear 0s;
}

nav .menu ul li:hover {
	background-color: #ffea00;
	border-color: #ffea00;
}

nav .menu ul li:hover + li {
	border-color: #ffea00;
}

nav .menu ul li:hover + li:last-child {
	border-right-color: #e3e3e3;
}

nav .menu ul li:hover .link-text {
	opacity: 0;
}

nav .menu ul li:hover i {
	color: #565a60;
	font-size: 43px;
}

nav .menu ul li:hover i:before {
	border-color: transparent;
	border-radius: 500px;
	width: 66px;
	height: 66px;
	line-height: 60px;
	transition: color 0.2s linear 0s, font-size 0.2s linear 0s, border-color 0.2s linear 0s, height 0.2s linear 0s, width 0.2s linear 0s, line-height 0.2s linear 0s;
}
/*----------------------------------------------------------------*/

header h1 {
	font-weight: 700;
	letter-spacing: -4.2px;
	line-height: 80px;
	color: #ffffff;
	font-size: 70px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 170px;
	text-shadow: 0 0 10px #555;
}

header h1 span {
	font-size: 45px;
	font-weight: 300;
	letter-spacing: -0.9px;
	line-height: 114px;
}

header a[href="#start"] {
	display: block;
	width: 160px;
	height: 42px;
	background-color: #f39c12;
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 42px;
	text-align: center;
	text-decoration: none;
	margin-top: 150px;
	margin-left: calc(50% - 80px);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 0px 3px 0px #966008;
}

header a[href="#start"]:hover {
	background: #ffb02e;
}

header a[href="#start"]:active {
	background: radial-gradient(ellipse at center, #f39c12, #b97d1e);
	box-shadow: none;
	position: relative;
	top: 3px;
}

main .about div h2,
main .team div h2,
main .service div h2 {
	float: left;
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 200px;
	margin-top: 110px;
	text-shadow: 1px 1px 1px #555;
}

main .about > div > p,
main .team > div > p,
main .service > div > p {
	float: left;
	color: #4d4d4d;
	font-size: 14px;
	text-transform: uppercase;
	width: 1000px;
	border-left: 4px solid #f39c12;
	padding-left: 17px;
	margin-left: 20px;
	margin-top: 104px;
}

main .about .our_story {
	border-bottom: 2px solid #e6e6e6;
	padding-bottom: 120px;
}

main .about .our_story .lamp {
	float: left;
	width: 125px;
	height: 125px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	margin-left: 124px;
	margin-top: 160px;
	transition: all 1s ease;
}

main .about .our_story .lamp .fa-lightbulb {
	font-size: 40px;
	display: flex;
	justify-content: center;
	margin-top: calc(50% - 20px);
}

main .about .our_story .lamp:hover {
	border-color: cadetblue;
	transition: all 1s ease;
	transform: rotate(360deg);
	box-shadow: 0 0 10px #555;
}

main  .about .our_story .our_story_text {
	float: left;
}

main  .about .our_story .our_story_text h3 {
	color: #0d0d0d;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	margin-top: 151px;
	margin-left: 30px;
}

main  .about .our_story .our_story_text .red {
	color: #e74c3c;
	font-size: 15px;
	margin-left: 29px;
	margin-top: 29px;
	width: 501px;
}

main  .about .our_story .our_story_text .duis {
	font-size: 13px;
	width: 501px;
	margin-left: 29px;
	margin-top: 30px;
}

main  .about .our_story .red_camera {
	float: left;
	width: 450px;
	height: 254px;
	background-color: #e74c3c;
	margin-top: 151px;
	margin-left: 65px;
}

main  .about .our_story .red_camera i {
	font-size: 41px;
	display: flex;
	justify-content: center;
	margin-top: 110px;
	color: white;
}

main .about .our_skills img {
	float: left;
	margin-top: 124px;
}

main .about .our_skills_box {
	float: left;
	margin-top: 120px;
	margin-left: 95px;
}

main .about .our_skills .our_skills_box .params_icon {
	float: left;
	width: 125px;
	height: 125px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	transition: all 1s ease;
}

main .about .our_skills .our_skills_box .params_icon i {
	font-size: 40px;
	display: flex;
	justify-content: center;
	margin-top: calc(50% - 20px);
}

main .about .our_skills .our_skills_box .params_icon:hover {
	border-color: cadetblue;
	transition: all 1s ease;
	transform: rotate(360deg);
	box-shadow: 0 0 10px #555;
}

main .about .our_skills .our_skills_box .our_skills_text {
	float: left;
}

main .about .our_skills .our_skills_box .our_skills_text h3 {
	color: #0d0d0d;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	margin-left: 30px;
	margin-bottom: 28px;
}

main .about .our_skills .our_skills_box .our_skills_text .duis {
	width: 387px;
	margin-left: 29px;
}

main .about .our_skills .our_skills_box .params {
	margin-top: 68px;
}

main .about .our_skills .our_skills_box .params figure {
	margin-bottom: 44px;
}

main .about .our_skills .our_skills_box .params figure:last-child {
	margin-bottom: 0;
}

main .about .our_skills .our_skills_box .params figcaption {
	color: #0d0d0d;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
}

main .about .our_skills .our_skills_box .params figcaption span {
	font-weight: 400;
}

main .about .our_skills .our_skills_box .params .design_params {
	width: 553px;
	height: 10px;
	background-image: linear-gradient(to right, #f39c12 0%, #e6e6e6 88%, #e6e6e6 100%);
	box-shadow: 0 0 5px #555;
}

main .about .our_skills .our_skills_box .params .development_params {
	width: 552px;
	height: 10px;
	background-image: linear-gradient(to right, #f39c12 0%, #e6e6e6 76%, #e6e6e6 100%);
	box-shadow: 0 0 5px #555;
}

main .about .our_skills .our_skills_box .params .wordpress_params {
	width: 552px;
	height: 10px;
	background-image: linear-gradient(to right, #f39c12 0%, #e6e6e6 81%, #e6e6e6 100%);
	box-shadow: 0 0 5px #555;
}

main .about .our_skills .our_skills_box .params .drupal_params {
	width: 552px;
	height: 10px;
	background-image: linear-gradient(to right, #f39c12 0%, #e6e6e6 71%, #e6e6e6 100%);
	box-shadow: 0 0 5px #555;
}

main aside .palm {
	background-image: url(img/palm.jpg);
	width: 100%;
	height: 700px;
	background-size: cover;
	margin-top: 101px;
	opacity: 0.9;
	position: relative;
	box-shadow: 0 0 10px #555;
}

main aside .palm blockquote {
	color: #fff;
	font-size: 45px;
	font-weight: 700;
	line-height: 60px;
	text-align: center;
	padding-top: 259px;
	text-shadow: 0 0 10px #555;
}

main aside .palm blockquote span {
	font-size: 110px;
	font-style: italic;
}

main aside .palm .maeda {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	margin-left: calc(50% - 80px);
	margin-top: 60px;
	text-shadow: 0 0 10px #555;
}

main aside .palm .line {
	width: 50px;
	height: 4px;
	background-color: #f39c12;
	position: absolute;
	top: 430px;
	left: calc(50% - 25px);
	box-shadow: 0 0 10px #555;
}

main .team .team_person {
	margin-left: 60px;
	margin-top: 40px;
}

main .team .team_person > div {
	float: left;
	margin-right: 50px;
	width: 269px;
	height: 466px;
	transition: all 0.5s ease;
}

main .team .team_person > div:hover {
	border-top: 4px solid #f39c12;
	background-color: #f0f0f0;
	box-shadow: 0 0 10px #555;
	transition: all 0.5s ease;
}

main .team .team_person > div:hover .min_block {
	background-color: #e74c3c;
	transition: all 0.5s ease;
}

main .team .team_person > div:last-child {
	margin-right: 0;
}

main .team .team_person figure > div {
	width: 188px;
	height: 188px;
	border-radius: 50%;
	margin-left: calc(50% - 94px);
	margin-top: 36px;
	transition: all 0.5s ease;
}

main .team .team_person figure > div:hover {
	transform: scale(1.2);
	transition: all 0.5s ease;
}

main .team .team_person .jonh {
	background: url(img/jonh.jpg) center 40%;
}

main .team .team_person .jesmine {
	background-image: url(img/jasmine.jpg);
	background-size: cover;
}

main .team .team_person .martin {
	background: url(img/martin.jpg) center 10%;
}

main .team .team_person .anthony {
	background: url(img/anthony.jpg) 35% 25%;
	background-size: cover;
}

main .team .team_person figcaption {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 30px;
	text-align: center;
}

main .team .team_person figcaption span {
	color: #999999;
	font-size: 15px;
	font-weight: 400;
}

main .team .team_person .min_block {
	width: 20px;
	height: 4px;
	background-color: #ccc;
	margin-left: calc(50% - 10px);
	margin-top: 14px;
	transition: all 0.5s ease;
}

main .team .team_person p {
	color: #737373;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
}

main .team .team_person .social {
	margin-left: 42px;
}

main .team .team_person .social a {
	text-decoration: none;
	margin-right: 19px;
	font-size: 18px;
	color: #999;
	transition: all 0.5s ease;
}

main .team .team_person .social a:hover,
footer a:hover {
	color: #f39c12;
	transition: all 0.5s ease;
}

main aside .achievement {
	background: url(img/palm.jpg);
	width: 100%;
	height: 450px;
	background-size: cover;
	opacity: 0.9;
	box-shadow: 0 0 10px #555;
	margin-top: 100px;
}

main aside .achievement > div {
	float: left;
	margin: 130px 163px 0 32px;
}

main aside .achievement > div:last-child {
	margin-right: 0;
}

main aside .achievement div div:nth-child(1),
main .service .description div div:nth-child(1),
main .service .buy .packege .banknote {
	width: 170px;
	height: 170px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	box-shadow: 0 0 10px #555;
	transition: all 1s ease;
}

main aside .achievement div div:nth-child(2) {
	color: #fff;
	font-size: 45px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 33px;
	text-align: center;
	text-shadow: 0 0 10px #555;
}

main aside .achievement div div i,
main .service .description div div i,
main .service .buy .packege .banknote i {
	font-size: 32px;
	color: white;
	display: flex;
	justify-content: center;
	margin-top: calc(50% - 16px);
	text-shadow: 0 0 10px #555;
}

main .service .description div div i,
main .service .buy .packege .banknote i {
	color: black;
	text-shadow: none;
}

main aside .achievement div div span {
	font-size: 25px;
}

main aside .achievement div div:nth-child(1):hover,
main .service .description div div:nth-child(1):hover,
main .service .buy .packege .banknote:hover {
	border-color: cadetblue;
	background-color: #f39c12;
	transform: rotate(360deg);
	transition: all 1s ease;
}

main aside .achievement div div:nth-child(1):hover {
	transform: rotate(360deg);
	transition: 1s ease;
}

main .service .description {
	margin-left: 100px;
	margin-top: 50px;
	padding-bottom: 120px;
}

main .service .description div {
	float: left;
	margin-right: 34px;
	width: 368px;
}

main .service .description div:last-child {
	margin-right: 0;
}

main .service .description div div:nth-child(2) {
	color: #0d0d0d;
	margin-top: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #555;
}

main .service .description div div p {
	color: #737373;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	text-shadow: none;
	text-transform: none;
	text-align: center;
	margin-top: 26px;
}

main .service .description div div:nth-child(1),
main .service .buy .packege .banknote {
	margin-left: calc(50% - 85px);
}

main .service .buy {
	border-top: 2px solid #e6e6e6;
	padding-top: 104px;
	padding-left: 65px;
}

main .service .buy .packege {
	width: 320px;
}

main .service .buy > div {
	float: left;
}

main .service .buy .packege h3 {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #555;
	text-align: center;
	margin-top: 31px;
	margin-bottom: 28px;
}

main .service .buy .packege p {
	color: #737373;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
}

main .service .buy .purchase {
	margin-left: 113px;
}

main .service .buy .purchase table {
	border-collapse: collapse;
}

main .service .buy .purchase table th,
main .service .buy .purchase table td {
	border: 1px solid #e6e6e6;
}

main .service .buy .purchase td {
	width: 250px;
	height: 50px;
	color: #737373;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
}

main .service .buy .purchase th {
	width: 250px;
	height: 115px;
	color: #0d0d0d;
	font-size: 22px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
	position: relative;
	transition: all 0.5s ease;
}

main .service .buy .purchase table tr:last-child {
	height: 110px;
}

main .service .buy .purchase table tr:nth-child(even) {
	background-color: #f7f7f7;
}

main .service .buy .purchase table a {
	display: block;
	text-decoration: none;
	width: 130px;
	height: 38px;
	border: 2px solid #f39c12;
	color: #0d0d0d;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 38px;
	margin-left: calc(50% - 67px);
	transition: all 0.5s ease;
}

main .service .buy .purchase table .buy_line {
	width: 50px;
	height: 2px;
	background-color: #f39c12;
	position: absolute;
	top: 58px;
	left: 100px;
	transition: all 0.5s ease;
}

main .service .buy .purchase table th:hover {
	background-color: #f39c12;
	color: #fff;
	transition: all 0.5s ease;
}

main .service .buy .purchase table th:hover .buy_line {
	background-color: #fff;
	transition: all 0.5s ease;
}

main .service .buy .purchase table a:hover {
	background-color: #f39c12;
	color: #fff;
	transition: all 0.5s ease;
}

/*------------слайдер-------------*/
main .works {
	background-color: #f7f7f7;
	padding-bottom: 50px;
}

.slider {
	width: 841px;
	height: 435px;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.slider > input {
	display: none;
}

.slider > input + label {
	background: rgba(90, 90, 90, 0.8);
	border: 2px solid rgba(190, 190, 190, 0.8);
	border-radius: 8px;
	cursor: pointer;
	display: block;
	float: left;
	height: 10px;
	left: 43%;
	margin-right: 4px;
	position: relative;
	top: 90%;
	transition: background 0.8s ease-out 0s;
	width: 10px;
	z-index: 100;
}

.slider > input + label:hover {
	background: rgba(250, 250, 250, 0.8);
}

.slider > input:checked + label {
	background: rgba(220, 220, 220, 0.8);
}

.slider > div {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}

.slider > div {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slider > input:checked + label + div {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slider .lp1 {
	background: url(img/lp1.jpg);
	background-size: cover;
}

.slider .lp2 {
	background: url(img/lp2.jpg);
	background-size: cover;
}

.slider .lp3 {
	background: url(img/lp3.png);
	background-size: cover;
}

.slider .lp4 {
	background: url(img/lp4.jpg);
	background-size: cover;
}

.slider > input + label + div + label {
	display: none;
}

.slider > input:checked + label + div + label {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 50;
	cursor: pointer;
}

main .works h2 {
	margin-top: 31px;
}

main .works h2,
main .comment h2,
main .contact h2 {
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #555;
	text-align: center;
	margin-bottom: 28px;
	border-top: 2px solid #e6e6e6;
	padding-top: 50px;
}

main .contact h2 {
	margin-bottom: 40px;
}

main .comment div div {
	border-radius: 50%;
	transition: all 1s ease;
}

main .comment div .clark {
	float: left;
	background: url(img/alex_clark.jpg);
	margin-left: 50px;
}

main .comment div .alex,
main .comment div .kevin {
	float: left;
	margin-left: 20px;
}

main .comment div p {
	width: 50%;
	color: #737373;
    font-size: 16px;
    line-height: 28px;
	margin-top: 50px;
}

main .comment div p span {
	font-style: italic;
	font-weight: 700;
}

main .comment div .gilmore {
	float: right;
	background: url(img/gloria_gilmore.jpg);
	margin-right: 50px;
}

main .comment div .gloria,
main .comment div .sara {
	float: right;
	margin-right: 20px;
}

main .comment div .brown {
	float: left;
	background: url(img/kevin_brown.jpg);
	margin-left: 50px;
}

main .comment div .wilson {
	float: right;
	background: url(img/sara_wilson.jpg);
	margin-right: 50px;
}

main .comment div .clark,
main .comment div .gilmore,
main .comment div .brown,
main .comment div .wilson {
	width: 150px;
	height: 150px;
	border: 2px solid #f39c12;
	box-shadow: 1px 1px 10px #555;
}

main .comment > div:hover {
	background-color: #f7f7f7;
	transition: all 0.5s ease;
}

main .comment > div {
	transition: all 1s ease;
}

main .comment div div:hover {
	transform: scale(1.25);
	transition: all 1s ease;
}

main .contact {
	background-color: #f7f7f7;
	border-bottom: 2px solid #e6e6e6;
	margin-top: 50px;
	padding-bottom: 50px;
}

form {
	float: left;
	width: 300px;
	padding: 24px 24px 0;
	background: #fefefe;
  	border: 1px solid #cad8de;
	border-radius: 4px;
	box-shadow: 1px 1px 10px #555;
	color: #444;
	margin-left: 300px;
}

form fieldset {
	border: none;
}

form input,
form select,
form textarea {
	color: #444;
	padding: 9px 13px;
  	border: 1px solid #D2D9DC;
	border-radius: 3px;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
	outline: none;
	margin-left: 10px;
	margin-bottom: 15px;
}

form input[type="text"] {
	width: 206px;
	text-transform: capitalize;
}

form select {
	margin-right: 10px;
}

form input[type="number"] {
	width: 40px;
}

form input[type="email"] {
	width: 203px;
}

form input[type="tel"] {
	width: 187px;
}

form input[type="date"] {
	width: 168px;
}

 form input[type="submit"] {
	padding: 6px 20px;
	height: 30px;
	width: 100px;
  	border-top: 1px solid #98cce7;
  	border-bottom: 1px solid #7db0cc;
  	border-left: 1px solid #8cbfd9;
  	border-right: 1px solid #8cbfd9;
  	border-radius: 15px;
	color: #fff;
	font-weight: 700;
	box-shadow: inset 0 1px #d4ebf7, 0 1px 3px #b8bebe;
	background: linear-gradient(top, #badff3 0%, #7acbed 100%);
	background-color: #9fd7f0;
	cursor: pointer;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
	outline: none;
	margin-left: 32%;
}

form input:focus,
form select:focus,
form textarea:focus {
	border-color: #B7D4EA;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}

form textarea {
	margin-left: 25px;
}

::placeholder {
	color: #bbbbbb;
	text-transform: lowercase;
}

main .address {
	float: left;
	margin-left: 100px;
}

main .address h3 {
	color: #0d0d0d;
	font-size: 24px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #555;
	text-align: center;
}

main .address table {
	font-size: 24px;
	margin-top: 20px;
}

main .address table td {
	padding: 10px;
}

main .address table tr:last-child td:last-child {
	text-decoration: underline;
}

iframe {
	width: 100%;
	height: 360px;
	box-shadow: 0 0 10px #555;
}

footer small {
	color: #0d0d0d;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	line-height: 100px;
	margin-left: 200px;
}

footer .fa-twitter {
	margin-left: 300px;
}

footer a {
	color: #0d0d0d;
	text-decoration: none;
	margin-right: 10px;
	transition: all 0.5s ease;
}

footer a:last-child {
	margin-right: 0;
}