body, ul, h1, h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
}

.new-string {
  width: 100%;
}

.header {
  background-color: #202020;
  padding: 20px 0;
}

.header-container {
  padding: 0 15%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.header-logo img {
}

.header-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header-menu li:not(:last-child) {
  margin-right: 0.5em;
}

.header-menu__item {
  display: block;
  text-align: center;
  padding: 10px 0.5em;
  color: #fff;
  font-size: 0.95em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.header-menu__item_active {
  background-color: #ffb700;
  border-radius: 10px;
  color: #202020;
}

.header-menu__item:hover {
  background-color: #ffb700;
  border-radius: 10px;
  color: #202020;
  transition: all 0.3s;
}

.header-contacts {
  text-align: center;
}

.header-contacts__item {
  color: #fff;
  font-weight: bold;
  display: block;
  transition: all 0.3s;
}

.header-contacts__item:hover {
  color: #ffb700;
  transition: all 0.3s;
}

.header-contacts__tel {
  padding: 15px 1em;
  background-color: #000;
  border-radius: 35px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.header-contacts__mail {
  font-size: 0.85em;
}

.main-bg {
  position: relative;
  padding: 15% 15%;
  background: #373737 url('../img/main-bg.jpg') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.main-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.main-bg__title {
  font-size: 3em;
  color: #ffb700;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}

.main-bg__subtitle {
  font-size: 1.5em;
  color: #f5f5f5;
  z-index: 10;
  position: relative;
  text-align: center;
  margin-bottom: 5%;
}

.main-bg__cta {
  text-align: center;
}

.main-bg__cta a {
  padding: 15px 1em;
  color: #202020;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  z-index: 10;
  background-color: #ffb700;
  border-radius: 5px;
}

.main-bg__cta a:hover {
  background-color: #ffc42f;
}

.main-adventures {
  padding: 5% 15%;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.main-adventures__block {
  text-align: center;
}

.main-adventures__block_img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-adventures__block_img img {
  max-width: 100%;
}

.main-adventures__block_title {
  color: #202020;
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 20px;
}

.main-adventures__block_descr {
  font-size: 1.1em;
  max-width: 250px;
}

.main-product {
  padding: 5% 15%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
}

.main-product__block {
  position: relative;
  width: 45%;
}

.main-product__block:first-child {
  margin-right: 5%;
}

.main-product__block:last-child {
  margin-top: 3%;
}

.main-product__block:hover .main-product__block_img::before {
  background-image: linear-gradient(top, rgba(15,15,15,0.30), rgba(0,0,0,0.20));
  background-image: -moz-linear-gradient(top, rgba(15,15,15,0.30), rgba(0,0,0,0.20));
  background-image: -webkit-linear-gradient(top, rgba(15,15,15,0.30), rgba(0,0,0,0.20));
  background-image: -o-linear-gradient(top, rgba(15,15,15,0.30), rgba(0,0,0,0.20));
  background-image: -ms-linear-gradient(top, rgba(15,15,15,0.30), rgba(0,0,0,0.20));
  transition: all 0.3s;
}

.main-product__block:hover .main-product__block_title {
  top: 30%;
  transition: all 0.3s;
}

.main-product__block:hover .main-product__block_btn {
  opacity: 1;
  top: 50%;
}

.main-product__block_img img {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-product__block_img::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(top, rgba(15,15,15,0.50), rgba(0,0,0,0.40));
  background-image: -moz-linear-gradient(top, rgba(15,15,15,0.50), rgba(0,0,0,0.40));
  background-image: -webkit-linear-gradient(top, rgba(15,15,15,0.50), rgba(0,0,0,0.40));
  background-image: -o-linear-gradient(top, rgba(15,15,15,0.50), rgba(0,0,0,0.40));
  background-image: -ms-linear-gradient(top, rgba(15,15,15,0.50), rgba(0,0,0,0.40));
  transition: all 0.3s;
}

.main-product__block_title {
  position: absolute;
  color: #ffb700;
  text-shadow: 1px 1px 3px #000;
  text-transform: uppercase;
  text-align: center;
  top: 40%;
  left: 13%;
  transition: all 0.3s;
}

.main-product__block:last-child .main-product__block_title {
  font-size: 1.4em;
}

.main-product__block_btn {
  position: absolute;
  top: 45%;
  left: 40%;
  border: 1px solid #ffb700;
  border-radius: 20px;
  padding: 10px 0.5em;
  background: #ffb700;
  color: #202020;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.3s;
}

.footer {
  background-color: #202020;
  padding: 20px 0;
}

.footer-container {
  padding: 0 15%;
}

.footer-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-menu__item {
  padding: 10px 0.5em;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.footer-menu li:not(:last-child) {
  margin-right: 0.5em;
}

.footer-menu__item:hover {
  background-color: #ffb700;
  border-radius: 10px;
  color: #202020;
  transition: all 0.3s;
}

.footer-logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-info {
  text-align: center;
  color: #f5f5f5;
}

.footer-info__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-info__item a {
  color: #fff;
  text-decoration: underline;
  transition: all 0.3s;
}

.footer-info__item a:hover {
  color: #ffb700;
  transition: all 0.3s;
}

/*Страница "Техника"*/
.main-technique {
  padding: 5% 15%;
  background-color: #f2f2f2;
}

.main-technique__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7em;
  margin-bottom: 5%;
}

.main-technique__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-technique__content .content-block {
  flex-basis: 32%;
  display: block;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

.main-technique__content .content-block:first-child, .main-technique__content .content-block:nth-child(2), .main-technique__content .content-block:nth-child(3) {
  margin-bottom: 15px;
}

.main-technique__content .content-block__img img {
  max-width: 100%;
}

.main-technique__content .content-block__title {
  font-weight: bold;
  font-size: 1.3em;
  padding: 0 10px;
  margin-bottom: 10px;
}

.main-technique__content .content-block__descr {
  font-weight: bold;
  font-size: 1em;
  padding: 0 10px;
  margin-bottom: 30px;
}

.main-technique__content .content-block__buttons {
  padding: 0 10px;
}

.main-technique__content .content-block__buttons span {
  display: inline-block;
}

.main-technique__content .content-block__buttons_call, .main-technique__content .content-block__buttons_picking {
  padding: 10px 0.5em;
  color: #202020;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 5px;
}

.main-technique__content .content-block__buttons_call {
  background-color: #ffb700;
  margin-bottom: 10px;
}

.main-technique__content .content-block__buttons_picking {
  border: 1px solid #ffb700;
}

.main-technique__content .content-block__buttons_call:hover {
  background-color: #ffc42f;
}

.main-technique__content .content-block__buttons_picking:hover {
  background-color: #ffb700;
}

.main-components {
  padding: 5% 15%;
}

.main-components__title {
  text-align: center;
}

.main-components__block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.main-components__block .block-text__title {
  
}

.main-components__block .block-text__descr_bold {
  font-weight: bold;
}

.main-components__block .block-img img {
  max-width: 100%;
}